#bio {
  display: flex;
  justify-content: space-between;
}

#bio-description {
  min-width: 65%;
}

#profile {
  object-fit: contain;
}

.skills {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 780px) {
  #bio {
    flex-direction: column;
    align-items: center;

    img {
      min-width: 60%;
    }
  }
}

@media (max-width: 580px) {
  .skills {
    flex-direction: column;
    align-items: center;
  }
}
